/* Site-wide Styling */

@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

body { /* Applies to entire pages */
    font-family: 'Merienda', sans-serif; /* Merienda as primary, sans-serif as fallback */
    font-size: 1.2em;
    margin: 0px;
    padding: 0px;
    z-index: 1;
}

.navbar { /* Navbar */
    display: flex;
    align-items: center;
    background: white;
    border-radius: calc((2em + 10px) * 1.414);
    height: calc(2.4em + 20px);
    margin: 20px auto;
    padding: 0px 40px;
    box-shadow: 0px 0px 5px lightgray;
    width: fit-content;
    z-index: 2;
}

.navbar_item { /* The logo and every link on the navbar are items */
    display: flex;
    align-items: center;
    height: calc(100% - 6px);
    width: fit-content;
    z-index: 3;
}

.navbar_item img { /* Navbar logo */
    height: 2.4em;
    margin-right: 20px;
}

.navbar_title { /* Business name on navbar */
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 70px;
}

.navbar_link { /* Clickable items on navbar */
    border-color: rgba(0, 0, 139, 0);
    border-style: solid;
    border-width: 3px;
}

.navbar_link:hover {
    border-bottom-color: darkblue;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    cursor: pointer;
}

a { /* All other links on website */
    color: darkblue;
    text-decoration: none;
}

a:visited {
    color: darkblue;
}

.navbar_title a {
    color:black;
}

.navbar_link p {
    margin: 0px 10px;
}

.alpha_section, .beta_section { /* Header and content sections respectively on each page */
    padding: 100px 0px;
}

.beta_section {
    box-shadow: 0px 0px 5px lightgray;
}

.content { /* Horizontal sections that make up every beta section */
    display: flex;
    height: fit-content;
    margin: 100px auto;
    width: 1280px;
}

.content_header { /* Header text on every page (other than front page) */
    padding: 0px 50px;
}

.alpha_section img {
    box-shadow: 0px 0px 5px lightgray;
}

.content img {
    cursor: pointer;
    transition: transform 0.1s;
}

.content img:hover {
    transform: scale(1.05);
}

.modal { /* Image modal present on every page, hidden by default, 
    this CSS is modified by a JavaScript function when an image is clicked to make it visible */
    display: none;
    position: fixed;
    background-color: rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    cursor: pointer;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 4;
}

.modal_content { /* Image within the modal */
    position: absolute;
    left: 50%;
    top: 50%;
    object-fit: contain;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 1024px;
    max-height: 90vh;
}
