/* Site-wide Styling (Header/Navbar and Footer) */

body {
    font-family: sans-serif;
    font-size: 1.2em;
    margin: 0px;
    padding: 0px;
    z-index: 1;
}

.navbar {
    display: flex;
    align-items: center;
    background: white;
    border-radius: calc((2em + 10px) * 1.414);
    height: calc(2.4em + 20px);
    margin: 20px auto;
    padding: 0px 40px;
    box-shadow: 0px 0px 5px lightgray;
    width: fit-content;
    z-index: 2;
}

.navbar_item {
    display: flex;
    align-items: center;
    height: calc(100% - 6px);
    width: fit-content;
    z-index: 3;
}

.navbar_item img {
    height: 2.4em;
    margin-right: 20px;
}

.navbar_title {
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 70px;
}

.navbar_link {
    border-color: rgba(0, 0, 139, 0);
    border-style: solid;
    border-width: 3px;
}

.navbar_link:hover {
    border-bottom-color: darkblue;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    cursor: pointer;
}

a {
    color: darkblue;
    text-decoration: none;
}

a:visited {
    color: darkblue;
}

.navbar_title a {
    color:black;
}

.navbar_link p {
    margin: 0px 10px;
}

.alpha_section, .beta_section {
    padding: 100px 0px;
}

.beta_section {
    box-shadow: 0px 0px 5px lightgray;
}

.content {
    display: flex;
    height: fit-content;
    margin: 100px auto;
    width: 1280px;
}

.alpha_section img {
    box-shadow: 0px 0px 5px lightgray;
}